streamlit
pandas
numpy
matplotlib
plotly
wordcloud
emoji
joblib
openai
apify-client
selenium
soundfile
pydub
resampy
webdriver-manager
requests
python-dotenv
html5lib
lxml
beautifulsoup4
streamlit
selenium
soundfile
numpy
requests
openai-whisper
resampy
torch
tqdm
ffmpeg-python
librosa
pydub
imageio
imageio-ffmpeg
xgboost
openpyxl 
